<frame size="700,500">

    <panel Bounds="100,255,100,200">
        <hbox border="TitledBorder(Enter credentials to setup the game)">

        <label text="Number of players:  "/>
        <textfield id="masterName" columns="20" Text=""/>
        <label text="           Number of packs"/>
        <textfield id="name" columns="20" rows="3" Text=""/>

        <button id="start" text="START"/>
        </hbox>
    </panel>

</frame>